<!DOCTYPE html>
<html>
<head>
    <title>RPS with VueJS</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">

</head>
<body>
<div id="app">
  <span>{{datenow}}</span>
  <section class="row">
    <div class="small-6 columns">
      <h1 class="text-center">PLAYER</h1>
      <div class="wins">
        <div class="wins text-center"  style="background-color: green; margin: 0; color: white;" :style="{ width: userScore + '0%'}">
          <p>{{ userScore }}</p>
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <h1 class="text-center">COMPUTER</h1>
      <div class="wins">
        <div class="wins text-center" style="background-color: green; margin: 0; color: white;" :style="{ width: computerScore + '0%'}">
          <p>{{computerScore}}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="row controls">
    <div @click="" class="small-12 columns">
      <button   @click="show = !show" @click="{{ userScore = 0}}{{ computerScore = 0}}{{ userPick = ''}} {{ randPick = ''}} {{turns = []}}" id="start-game">START NEW GAME</button>
    </div>
  </section>
  <section  v-if="!show" v-else="show" v-model="!show" class="row controls">
    <div  class="small-12 columns">
      <button @click="choose('rock')" id="rock">ROCK</button>
      <button @click="choose('paper')" id="paper">PAPER</button>
      <button @click="choose('scissors')" id="scissors">SCISSORS</button>
      <button @click="{{ userScore = 0}}{{ computerScore = 0}}{{ userPick = ''}} {{ randPick = ''}} {{turns = []}}" id="restart">RESTART</button>
    </div>
  </section>
  <section class="row log">
    <div class="small-12 columns">
      <ul>
        <li v-for="turn in turns"
            :class="{'player-turn': turn.isPlayer, 'computer-turn': !turn.isPlayer, 'tie-turn': turn.tie}">
          {{ turn.text }}
        </li>
      </ul>
    </div>

</div>
<script src="app.js"></script>
</body>
</html>